
/** react-dual-listbox */

.rdl-no-move-all {
    // hide the 'move all left' and 'move all right' buttons
    .rdl-move-all {
        display: none;
    }
}

.react-dual-listbox {
  select[multiple] option {
    padding: 0.25rem 1rem;
  }

  optgroup {
    padding-bottom: .5rem;
  }
}

