@import "../../scss/bootstrap_limitless.scss";

/** Pace is used for progress bars */

.pace {
    display: inline-block;
    background-color: $color-slate-800;
    vertical-align: middle;
    position: relative;
    line-height: 1;
    @include border-radius($border-radius);

    .pace_progress {
        display: none;
        white-space: nowrap;
    }

     // Large
     .bar_lg {
        @extend .pace;
        background-color: rgba($black, 0.4);
        height: 8px;
        width: 100%;

        .pace_progress {
            height: 6px;
            max-width: 198px;
            display: block;
            position: absolute;
            left: 1px;
            top: 1px;
            background: #26A69A;
            color: $white;
            line-height: 36px;
            border-radius: 100px;
        }
    }

    // Small
    .bar_sm {
        @extend .pace;
        background-color: rgba($black, 0.4);
        height: 4px;
        width: 100%;

        .pace_progress {
            height: 2px;
        }
    }
}


