.card {
    .table-card-body.card-body {
        /** the table fills the entire card */
        padding: 0;
    }

    .wizard.wizard-form .step-fieldset {
      border-color: #E4E4E6;

      &:last-of-type > div {
        padding-bottom: 0 !important;
      }
    }
}
