// This overrides the drag&drop drop state in the formbuilder
.frmb-placeholder,
.ui-state-highlight {
  height: 65px !important;
  width: 100% !important;
  padding: 0;
  background: none !important;
  border: 2px dashed rgba(84, 84, 84, 1) !important;
  clip-path: none !important;
  visibility: visible;
  overflow: hidden;
  margin-bottom: 3px;
  animation: none !important;
}
