.react-time-picker input {  outline:none !important; }
.react-time-picker__wrapper { width: 35px; border: none !important }
.react-time-picker__inputGroup { justify-content: flex-end !important; min-width: inherit !important;}
