.form-group.row .validation-invalid-label {
  width: 100%;
  text-align: right;
}

.form-group.row .validation-invalid-label:before {
  content: '';
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  background-position: top 9px right calc(0.38462em + 0.21875rem);
}
